<div class="card">
    <div class="card-header pad">Details</div>
    <app-table [data]="details" [headers]="deetHeaders"></app-table>
</div>
<div class="card">
    <div class="card-header pad">Accounts</div>
    <app-table [data]="accounts" [headers]="accHeaders" [clickable]="true" (clickEvent)="accountClicked($event)"></app-table>
</div>
<div class="card">
    <div class="card-header pad">Obligors</div>
    <app-table [data]="obligors" [headers]="oblHeaders" [clickable]="true" (clickEvent)="accountClicked($event)"></app-table>
</div>
<div class="card">
    <div class="card-header pad">Securities</div>
    <app-table [data]="secirities" [headers]="secHeaders" [clickable]="true" (clickEvent)="accountClicked($event)"></app-table>
</div>