.custom-select-container {
  position: relative;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #fff;
  
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: none;
  min-width: 200px;
  padding: 5px;
}

.dropdown-list.active {
  display: block;
}

.dropdown-list div {
  padding: 5px;
}

.dropdown-list div:hover {
  background-color: #f0f0f0;
}

.menu-item {
  
  border-radius: 5px;
  padding: 5px;
  min-width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}