@import url('../../../shared/styles/card.scss');
@import url('../../../shared/styles/structure.scss');

:host {
    width: 100%;
    padding: 1em;
}

.release-container {
    margin-bottom: 1em;

    .release-heading {
        color: darkslateblue;
        font-weight: bold;
        display: inline-block;
        border-bottom: 1px solid darkslateblue;
    }
}