<section class="page">
    <app-page-header heading="Dashboard"></app-page-header>
    <div class="page-content">
        <div class="section-container">
            <div class="section-heading">Recent</div>
            <div class="card-thin">
                <span class="card-title">Michael Cox</span>
                <span class="card-subtitle">Party</span>
            </div>
            <div class="card-thin">
                <span class="card-title">20121231231221</span>
                <span class="card-subtitle">Instrument</span>
            </div>
            <div class="card-thin">
                <span class="card-title">20121231231221</span>
                <span class="card-subtitle">Instrument</span>
            </div>
            <div class="card-thin">
                <span class="card-title">2432423423432</span>
                <span class="card-subtitle">Instrument</span>
            </div>
            <div class="card-thin">
                <span class="card-title">245212367876543</span>
                <span class="card-subtitle">Instrument</span>
            </div>
            <div class="card-thin">
                <span class="card-title">201213121221</span>
                <span class="card-subtitle">Account</span>
            </div>
        </div>
        
        <div class="section-container">
            <div>Metrics</div>
        </div>
    </div>
</section>
