<div class="tab-content">
    <div>
        <app-accordion>
          <app-accordion-panel [isActive]="true">
            <div panel-title>Instruments and Accounts</div>
            <div panel-content>
                <div><a href="#">Create a new party</a></div>
                <div><a>Create a new product</a></div>
                <div><a>Add a custom field</a></div>
                <div><a>Configure an SMTP Email</a></div>
            </div>
          </app-accordion-panel>
      
          <app-accordion-panel>
            <div panel-title>Parties and Securities</div>
            <div panel-content>
              Content for Panel 2
            </div>
          </app-accordion-panel>
        </app-accordion>
      </div>
</div>