<div class="tab-content">
    <div>
        <app-accordion>
          <app-accordion-panel [isActive]="true">
            <div panel-title>Instruments and Accounts</div>
            <div panel-content>
                <div><a>Setup new Instrument</a></div>
                <div><a>Add party to an Instrument</a></div>
                <div><a>Add a attribute field</a></div>
                <div><a>Configure an SMTP Email</a></div>
            </div>
          </app-accordion-panel>
      
          <app-accordion-panel>
            <div panel-title>Parties and Products</div>
            <div panel-content>
              <div><a href="#">Create a new party</a></div>
              <div><a>Create a new product</a></div>
            </div>
          </app-accordion-panel>

          <app-accordion-panel>
            <div panel-title>Integration Configuration</div>
            <div panel-content>
              <div><a>Configure email integration</a></div>
            </div>
          </app-accordion-panel>
        </app-accordion>
      </div>
</div>