@import url('./../../../../../shared/styles/btn.scss');
@import url('./../../../../../shared/styles/card.scss');
@import url('./../../../../../shared/styles/structure.scss');

:host {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}