<div class="page-content">
    <div class="card">
        <div class="card-header pad">Address</div>
        <div class="row">
            <div class="field-group">
                <div class="label">Number</div>
                <div class="field">1</div>
            </div>
            <div class="field-group">
                <div class="label">Street</div>
                <div class="field">Somewhere street</div>
            </div>
            <div class="field-group">
                <div class="label">Suburb</div>
                <div class="field">North Sydney</div>
            </div>
            <div class="field-group">
                <div class="label">Postcode</div>
                <div class="field">2000</div>
            </div>
        </div>
        <div>Valuation</div>
        <div class="row">
            <div class="field-group">
                <div class="label">Type</div>
                <div class="field">Full Valuation</div>
            </div>
            <div class="field-group">
                <div class="label">Amount</div>
                <div class="field">$100</div>
            </div>
            <div class="field-group">
                <div class="label">Date</div>
                <div class="field">01/01/2000</div>
            </div>
            <div class="field-group">
                <div class="label">Valuer</div>
                <div class="field">Company Name</div>
            </div>
            <div class="field-group">
                <div class="label">Panel</div>
                <div class="field">Pannel Name</div>
            </div>
            <div class="field-group">
                <div class="label">Discharge Date</div>
                <div class="field">01/01/2000</div>
            </div>
        </div>
    </div>
</div>