<div class="page-content">
    <div class="card">
        <div>Events</div>
        <button class="btn btn-std">Add</button>
        <table>
            <thead>
                <tr>
                    <th>Created</th>
                    <th>User</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/01/2000 hh:mm:ss</td>
                    <td>System</td>
                    <td>Event 1</td>
                    <td>edit | remove</td>
                </tr>
                <tr>
                    <td>01/01/2000 hh:mm:ss</td>
                    <td>System</td>
                    <td>Event 2</td>
                    <td>edit | remove</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>