<section class="page">
    <app-page-header  heading="Organisation"></app-page-header>
    <app-tabs>
        <app-tab tabTitle="Details">
            CONTENT 1
        </app-tab>
        <app-tab tabTitle="Users"><app-users></app-users></app-tab>
        <app-tab tabTitle="Integration"><app-integrations></app-integrations></app-tab>
        <app-tab tabTitle="Communication"><app-communication></app-communication></app-tab>
        <app-tab tabTitle="Parties"></app-tab>
        <app-tab tabTitle="Products"><app-products></app-products></app-tab>
        <app-tab tabTitle="Reference Data"><app-reference-data></app-reference-data></app-tab>
        <app-tab tabTitle="Events">content 9</app-tab>
    </app-tabs>
</section>