@import url('./../../../../shared/styles/structure.scss');
@import url('./../../../../shared/styles/card.scss');

:host {
    width: 100%;
    padding: 1em;
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    .section-container {
        width: 50%;
        height: 100%;
    }
}

.section-heading {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.card-thin {
    padding: 0.2em 1em;

    .card-title {

    }

    .card-subtitle {
        font-size: 0.8em;
        margin-left: 0.5em;
    }
}

.clickable {
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }
}