<section class="container">
    <div class="row">
        <!-- <img src="https://source.unsplash.com/200x50" alt="Placeholder Image"> -->
        <img height="50px" width="250px">
    </div>

    <div class="row btn-row-container">
        <mat-icon routerLink="/dashboard" matTooltip="Info about the action">dashboard</mat-icon>
        <mat-icon routerLink="/search">search</mat-icon>
        <mat-icon routerLink="/tenant" matTooltip="Configuration">tune</mat-icon>
        <mat-icon routerLink="/account" matTooltip="Account">account_circle</mat-icon>
        <mat-icon routerLink="/notifications" matTooltip="Notifications">notifications</mat-icon>
        <mat-icon routerLink="/support">help_outline</mat-icon>
    </div>
    
    <div *ngIf="selectedMenu == 'search'">
        <div class="row">
            <div class="search-container">
                <input class="search-input" placeholder="Search..." type="text" />
                <mat-icon class="search-icon">search</mat-icon>
            </div>
        </div>
    </div>

    <div *ngIf="selectedMenu == 'default'">
        <hr />
        <div class="row btn-row-container" routerLink="/instrument">
            <label class="menu-item">Instruments</label>
        </div>
        <div class="row btn-row-container">
            <label class="menu-item">Parties</label>
        </div>
        <div class="row btn-row-container">
            <label class="menu-item">Products</label>
        </div>
        <div class="row btn-row-container">
            <label class="menu-item" routerLink="">Analytics</label>
        </div>
    </div>

    <div *ngIf="selectedMenu == 'other'">
        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu" xPosition="after">
            <button mat-menu-item>Release Notes</button>
        </mat-menu>
        <div class="row btn-row-container">
            <mat-icon routerLink="/account" matTooltip="Account">account_circle</mat-icon>
            <mat-icon routerLink="/tenant" matTooltip="Organisation">account_balance</mat-icon>
            <mat-icon>help_outline</mat-icon>
        </div>
    </div>
</section>