
<section class="page">
    <app-page-header heading="Instrument"></app-page-header>
    <app-tabs>
        <app-tab tabTitle="Summary">
            <div class="page-content">
                <div>Instrument Info</div>
                <div>Instrument1</div>
            </div>
        </app-tab>
        <app-tab tabTitle="Party">
            <div class="page-content">
                <div>Parties</div>
                <div>Party1</div>
                <div>Party2</div>
                <div>Party3</div>
            </div>
        </app-tab>
        <app-tab tabTitle="Account">
            <div class="page-content">
                <div>Accounts</div>
                <div>Account1</div>
                <div>Account2</div>
                <div>Account3</div>
            </div>
        </app-tab>
        <app-tab tabTitle="Security">
            <div class="page-content">
                <div>Security</div>
                <div>Security1</div>
            </div>
        </app-tab>
        <app-tab tabTitle="Events">
            <div class="page-content">
                
            </div>
        </app-tab>
    </app-tabs>
</section>