<section class="page">
    <app-page-header heading="Notifications"></app-page-header>
    <div class="page-container">
        <div class="card-thin">
            <button class="btn btn-cta">Mark As Read</button>
            <button class="btn btn-std">Mark As Unread</button>
            <button class="btn btn-std">Delete</button>
        </div>
        <div class="card-thin"><input type="checkbox"/><span>Received</span><span>Type</span><span>Message</span></div>
        <div class="card-thin"><input type="checkbox"/><span>01/01/2024 00:00:00</span><span>Notification</span><span>To Notify you of something</span></div>
        <div class="card-thin"><input type="checkbox"/><span>01/01/2024 00:00:00</span><span>System</span><span>To Notify you of something</span></div>
    </div>
</section>