<div class="row">
    <div class="card">
        <div class="section-heading pad">Recent</div>
        <div class="card-thin clickable pad" routerLink="/instrument">
            <span class="card-title">Michael Cox</span>
            <span class="card-subtitle">Party</span>
        </div>
        <div class="card-thin clickable pad" routerLink="/instrument">
            <span class="card-title">20121231231221</span>
            <span class="card-subtitle">Instrument</span>
        </div>
        <div class="card-thin clickable" routerLink="/instrument">
            <span class="card-title">20121231231221</span>
            <span class="card-subtitle">Instrument</span>
        </div>
        <div class="card-thin clickable" routerLink="/instrument">
            <span class="card-title">2432423423432</span>
            <span class="card-subtitle">Instrument</span>
        </div>
        <div class="card-thin clickable" routerLink="/instrument">
            <span class="card-title">245212367876543</span>
            <span class="card-subtitle">Instrument</span>
        </div>
        <div class="card-thin clickable" routerLink="/instrument">
            <span class="card-title">201213121221</span>
            <span class="card-subtitle">Account</span>
        </div>
    </div>
    
    <div class="card">
        <div class="section-heading pad">Metrics</div>
    </div>
</div>