<div class="pad">
    <div class="card">
        <div class="card-header pad">Search</div>
        <div class="row pad">
            <app-searchbox></app-searchbox>
            <label>Type</label>
            <select class="field">
                <option>Any</option>
                <option>Obligor</option>
                <option>Instrument</option>
                <option>Account</option>
                <option>Security</option>
            </select>
        </div>
        <div class="results-container">
            <app-table [headers]="searchHeaders" [data]="searchResults" [clickable]="true" (clickEvent)="rowClick($event)"></app-table>
        </div>
    </div>
</div>