<div class="tab-content">
    <div class="section-container">
        <div>Email Integration</div>
        <div>All emails sent on behalf of the organisation will be sent via the credentials configured here.</div>
        <div>
            <div>SMTP Relay</div>
            <input type="text" placeholder="Address" />
        </div>
        <div>
            <div>Credentials</div>
            <input type="checkbox" /><label>Requires Credentials</label>
        </div>
        <div>
            <label>username</label>
            <input type="text" placeholder="username" />
        </div>
        <div>
            <label>password</label>
            <input type="password" placeholder="password" />
        </div>
        <button>Test</button>
    </div>
    <div class="section-container">
        <div>SMS</div>
        <div>All emails sent on behalf of the organisation will be sent via the credentials configured here.</div>
        <div>
            <label>username</label>
            <input type="text" placeholder="username" />
        </div>
        <div>
            <label>password</label>
            <input type="password" placeholder="password" />
        </div>
        <button>Test</button>
    </div>
</div>