<div class="card col">
    <div class="section-heading">Email</div>
    <div class="row"> 
        <div class="field-group">
            <label>SMTP Relay</label>
            <input class="field" type="text" placeholder="Address" />
        </div>
        <div class="field-group">
            <label>username</label>
            <input class="field" type="text" placeholder="username" />
        </div>
        <div class="field-group">
            <label>password</label>
            <input class="field" type="password" placeholder="password" />
        </div>
    </div>
    <div>
        <button class="btn btn-std">Test</button>
    </div>
</div>
<div class="card col">
    <div class="section-heading">SMS</div>
    <div class="row">
        <div class="field-group">
            <label>username</label>
            <input class="field" type="text" placeholder="username" />
        </div>
        <div class="field-group">
            <label>password</label>
            <input class="field" type="password" placeholder="password" />
        </div>
    </div>
    <div>
        <button class="btn btn-std">Test</button>
    </div>
</div>