<div class="card">
    <div class="section-heading">Email</div>
    <div class="field-group">
        <div>SMTP Relay</div>
        <input class="field" type="text" placeholder="Address" />
    </div>
    <div>
        <div>Credentials</div>
        <input type="checkbox" /><label>Requires Credentials</label>
    </div>
    <div class="field-group">
        <label>username</label>
        <input class="field" type="text" placeholder="username" />
    </div>
    <div class="field-group">
        <label>password</label>
        <input class="field" type="password" placeholder="password" />
    </div>
    <button class="btn btn-std">Test</button>
</div>
<div class="card">
    <div class="section-heading">SMS</div>
    <div class="field-group">
        <label>username</label>
        <input class="field" type="text" placeholder="username" />
    </div>
    <div class="field-group">
        <label>password</label>
        <input class="field" type="password" placeholder="password" />
    </div>
    <button class="btn btn-std">Test</button>
</div>