<div class="tab-content">
    <div>Integrations</div>
    <div class="card">
        <div>Email</div>
        <div>
            <div>SMTP Relay</div>
            <input type="text" placeholder="Address" />
        </div>
        <div>
            <div>Credentials</div>
            <input type="checkbox" /><label>Requires Credentials</label>
        </div>
        <div>
            <label>username</label>
            <input type="text" placeholder="username" />
        </div>
        <div>
            <label>password</label>
            <input type="password" placeholder="password" />
        </div>
        <button class="btn btn-std">Test</button>
    </div>
    <div class="card">
        <div>SMS</div>
        <div>
            <label>username</label>
            <input type="text" placeholder="username" />
        </div>
        <div>
            <label>password</label>
            <input type="password" placeholder="password" />
        </div>
        <button class="btn btn-std">Test</button>
    </div>
</div>