<div class="card">
        <div class="card-header pad">Roles</div>
        <div class="pad">
            <button class="btn btn-std">Add</button>
        </div>
        <app-multi-select></app-multi-select>
        <!-- <app-accordion>
            <app-accordion-panel>
                <div panel-title>Role One</div>
                <div panel-content>
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>User1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </app-accordion-panel>
        </app-accordion> -->
</div>