<div class="card pad">
    <div class="section-container col">
        <div>Roles</div>
        <div>
            <button class="btn btn-std">Add</button>
        </div>
        <app-accordion>
            <app-accordion-panel>
                <div panel-title>Group One</div>
                <div panel-content>
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>User1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </app-accordion-panel>
        </app-accordion>
    </div>
</div>