
<section class="page">
    <div class="left-nav">
        <div>Summary</div>
        <div>Associations</div>
        <div>Account</div>
        <div>Security</div>
        <div>Notes</div>
        <div>Events</div>
    </div>
    <div>
        <app-tabs>
            <app-tab tabTitle="Summary">
                <app-instrument-summary></app-instrument-summary>
            </app-tab>
            <app-tab tabTitle="Associations">
                <app-instrument-association></app-instrument-association>
            </app-tab>
            <app-tab tabTitle="Account">
                <app-instrument-account></app-instrument-account>
            </app-tab>
            <app-tab tabTitle="Security">
                <app-instrument-security></app-instrument-security>
            </app-tab>
            <app-tab tabTitle="Notes">
                <app-instrument-note></app-instrument-note>
            </app-tab>
            <app-tab tabTitle="Events">
                <app-instrument-event></app-instrument-event>
            </app-tab>
        </app-tabs>
    </div>
</section>