<div class="pad">
    <div class="card">
        <div class="card-header pad">Notifications</div>
        <div>
            <div class="row pad">
                <div class="field-group">
                    <label>Search</label>
                    <app-searchbox></app-searchbox>
                </div>
                <div class="field-group">
                    <label>From:</label>
                    <input type="date" class="field" />
                </div>
                <div class="field-group">
                    <label>To:</label>
                    <input class="field" type="date" />
                </div>
                <app-toggle>Read</app-toggle>
            </div>
            <div class="pad">
                <button class="btn btn-std">Read</button>
            </div>
            <div class="pad">
                <app-table [headers]="headers" [data]="data"></app-table>
            </div>
        </div>
    </div>
</div>