.accordion {
    width: 100%;
  }
  
  /* accordion-panel.component.css */
  .panel {
    border: 1px solid var(--secondary-color);
    margin-bottom: 5px;
  }
  
  .panel.active {
    border: 1px solid var(--primary-color);
  }
  
  .panel-header {
    padding: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    display:flex;
    flex-direction: row;
  }
  
  .panel-content {
    padding: 10px;
    display: none;
  }
  
  .panel.active .panel-content {
    display: block;
  }