<div class="pad">
    <div class="content-container">
        <div class="filter-container">
            <app-searchbox></app-searchbox>
            <div class="filter-field">
                <label>Type</label>
                <select class="field">
                    <option>Party</option>
                    <option>Instrument</option>
                    <option>Account</option>
                    <option>Security</option>
                </select>
            </div>
        </div>
        <div class="results-container">
            <div class="card clickable" routerLink="/instrument">
                <div class="card-header">Main Info</div>
                <div class="card-subheader">Secondary Info</div>
            </div>
        </div>
    </div>
</div>