.btn {
    padding: 0.3em;
    margin-right: 0.2em;
    cursor: pointer;
}

.btn-cta {
    background-color: lightslategray;
    border-radius: 5px;
    border: 1px solid lightslategray;
    color: white;
}

.btn-std {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid lightslategray;
}