.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.col {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.pad {
    padding: 1em;
}

.fill {
    height: 100%;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}