:root {
    --background-color: white;
    --background-text-color: black;
    --background-accent-color: #f0e87d;

    --primary-color: #262b2f;
    --primary-color: #487dac;
    --primary-colorX: #5B7C99;

    --primary-text-color: lightgray;
    --primary-text-color: black;

    --primary-accent-color: #f0e87d;
    --primary-accent-color: #abd3fe;
    --primary-accent-color: #FE8D42;
    --primary-accent-color: #FFFEEC;
}