<div class="tab-content">
    <div>Submit a support ticket</div>
    <br/>
    <form>
        <div class="field-group">
            <label class="ff-label">FieldOne</label>
            <input class="field" type="text" placeholder="fieldone..." />
        </div>
        <div class="field-group">
            <label class="ff-label">FieldOne</label>
            <input class="field" type="text" placeholder="fieldone..." />
        </div>
        <div class="field-group">
            <label class="ff-label">FieldOne</label>
            <input class="field" type="text" placeholder="fieldone..." />
        </div>
        <div class="field-group">
            <label class="ff-label">FieldOne</label>
            <input class="field" type="text" placeholder="fieldone..." />
        </div>
        <button class="btn btn-cta">Submit</button>
    </form>
</div>