<div class="tab-content">
    <div>Submit a support ticket</div>
    <br/>
    <form>
        <div class="form-field">
            <label class="ff-label">FieldOne</label>
            <input class="ff-attr" type="text" placeholder="fieldone..." />
        </div>
        <div class="form-field">
            <label class="ff-label">FieldOne</label>
            <input class="ff-attr" type="text" placeholder="fieldone..." />
        </div>
        <div class="form-field">
            <label class="ff-label">FieldOne</label>
            <input class="ff-attr" type="text" placeholder="fieldone..." />
        </div>
        <div class="form-field">
            <label class="ff-label">FieldOne</label>
            <input class="ff-attr" type="text" placeholder="fieldone..." />
        </div>
        <button>Submit</button>
    </form>
</div>