<div class="section-container">
    <button>Add</button>
    <app-accordion>
        <app-accordion-panel>
            <div panel-title>Group One</div>
            <div panel-content>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-accordion-panel>
    </app-accordion>
</div>