<div class="section">
    <div class="section-heading pad">Account</div>
    <div class="pad">
        <div class="field-group">
            <label>Name</label>
            <input class="field" placeholder="name" type="text" disabled/>
        </div>
        <div class="field-group">
            <label>Email</label>
            <input class="field" placeholder="email" type="email" disabled/>
        </div>
    </div>
</div>
<div class="section">
    <div class="section-heading pad">Security</div>
    <div class="pad">
        <div>
            <app-toggle>Two Factor Authentication</app-toggle>
        </div>
        <div>
            <button class="btn btn-std">Change Password</button>
        </div>
    </div>
</div>
<div class="section">
    <div class="section-heading pad">Settings</div>
    <div class="pad">
        <div>
            <app-toggle>Dark Mode</app-toggle>
        </div>
        <div class="field-group">
            <label>Menu Configuration</label>
            <select class="field">
                <option>Quick Search</option>
                <option>Menu Options</option>
                <option>Recent Items</option>
            </select>
        </div>
        <div class="field-group">
            <label>Recent tracking</label>
            <select class="field">
                <option>Instruments</option>
                <option>Page</option>
                <option>Account</option>
                <option>Party</option>
            </select>
        </div>
    </div>
</div>
<div class="section">
    <div class="section-heading pad">Notifications</div>
    <div class="pad">
        <div class="field-group">
            <label>Notification period</label>
            <input class="field" type="text" placeholder="days"/>
        </div>
        <div>
            <app-toggle>Send email on notification</app-toggle>
        </div>
    </div>
</div>
<div class="section">
    <div class="section-heading pad">Permissions</div>
    <div class="pad">
        <div class="">Assessment Module</div>
        <div>Permission 1</div>
        <div>Permission 2</div>
    </div>
</div>