@import url('../../shared/styles/structure.scss');

.tab {
    padding: 0.4em 1em;
    display: inline-block;
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid lightsteelblue;
}

.tab-content {
    padding: 1em;
}
.release-container {
    margin-bottom: 1em;

    .release-heading {
        color: steelblue;
        display: inline-block;
        border-bottom: 1px solid steelblue;
    }
}

.form-field {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.ff-attr {
    max-width: 250px;
}