<div class="card col">
    <div class="card-header pad">Obligors</div>
    <div class="pad col">
        <div>
            <button class="btn btn-std">Add</button>
        </div>
        <app-table [data]="data" [headers]="headers"></app-table>
    </div>
</div>
<div class="card col">
    <div class="card-header pad">Funders</div>
    <div class="pad col">
        <div>
            <button class="btn btn-std">Add</button>
        </div>
        <app-table [data]="data" [headers]="headers"></app-table>
    </div>
</div>