<nav>
    <div class="row">
        <img height="50px" width="250px" routerLink="/account/dashboard">
    </div>
    <div class="row">
        <app-menu-list placeholder="Module" [items]="modules" (selectedItemChange)="navigate($event)"></app-menu-list>
        <mat-icon routerLink="/account/notifications" matTooltip="Notifications">notifications</mat-icon>
        <mat-icon routerLink="/account/settings" matTooltip="Account">account_circle</mat-icon>
        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/config/user">Configuration</button>
            <button mat-menu-item routerLink="/support">Support</button>
        </mat-menu>
    </div>
</nav>