<div class="section">
    <div class="section-heading">Account</div>
    <div>
        <label>Name</label>
        <input placeholder="name" type="text" disabled/>
    </div>
    <div>
        <label>Email</label>
        <input placeholder="email" type="email" disabled/>
    </div>
</div>
<div class="section">
    <div class="section-heading">Security</div>
    <div>
        <app-toggle>Two Factor Authentication</app-toggle>
    </div>
    <div>
        <button>Change Password</button>
    </div>
</div>
<div class="section">
    <div class="section-heading">Settings</div>
    <div>
        <app-toggle>Dark Mode</app-toggle>
    </div>
    <div>
        <label>Menu Configuration</label>
        <select>
            <option>Quick Search</option>
            <option>Menu Options</option>
            <option>Recent Items</option>
        </select>
    </div>
    <div>
        <label>Recent tracking</label>
        <select>
            <option>Instruments</option>
            <option>Page</option>
            <option>Account</option>
            <option>Party</option>
        </select>
    </div>
</div>
<div class="section">
    <div class="section-heading">Notifications</div>
    <div>
        <label>Notification period</label>
        <input type="text" placeholder="days"/>
    </div>
    <div>
        <input type="checkbox" />
        <label>Send email on notification</label>
    </div>
</div>