<div class="page-content">
    <div class="card">
        <div>Summary</div>
        <div class="row">
            <div class="field-group">
                <div class="label">Application Number</div>
                <div class="field">1231231231</div>
            </div>
            <div class="field-group">
                <div class="label">Purpose</div>
                <div class="field">Investment</div>
            </div>
            <div class="field-group">
                <div class="label">Regulated</div>
                <div class="field">Yes</div>
            </div>
            <div class="field-group">
                <div class="label">Documentation Level</div>
                <div class="field">Full</div>
            </div>
        </div>
        <div class="row">
            <div class="field-group">
                <div class="label">Original Term</div>
                <div class="field">30 years</div>
            </div>
            <div class="field-group">
                <div class="label">Total Term</div>
                <div class="field">30 years</div>
            </div>
            <div class="field-group">
                <div class="label">Remaining Term</div>
                <div class="field">22 years</div>
            </div>
        </div>
        <div class="row">
            <div class="field-group">
                <div class="label">Application Date</div>
                <div class="field">15/12/2016</div>
            </div>
            <div class="field-group">
                <div class="label">Settlement Date</div>
                <div class="field">01/01/2000</div>
            </div>
            <div class="field-group">
                <div class="label">Maturity Date</div>
                <div class="field">01/01/2000</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div>Loan Amount</div>
        <div class="row">
            <div class="field-group">
                <div class="label">Application Amount</div>
                <div class="field">$100</div>
            </div>
            <div class="field-group">
                <div class="label">Scheduled Balance</div>
                <div class="field">$100</div>
            </div>
            <div class="field-group">
                <div class="label">Total Principal</div>
                <div class="field">$100</div>
            </div>
            <div class="field-group">
                <div class="label">Total Over / Under</div>
                <div class="field">$100</div>
            </div>
        </div>
    </div>
</div>