<div class="tab-content">
    <div>Submit a support ticket</div>
    <br/>
    <form class="col">
        <div class="field-group">
            <label class="ff-label">Summary</label>
            <input class="field" type="text" placeholder="summary..." />
        </div>
        <div class="field-group">
            <label class="ff-label">Priority</label>
            <select class="field">
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
        <div class="field-group">
            <label class="ff-label">Description</label>
            <input class="field" type="text" placeholder="description..." />
        </div>
        <div>
            <button class="btn btn-cta">Submit</button>
        </div>
    </form>
</div>