@import url('../../../shared/styles/btn.scss');
@import url('../../../shared/styles/form.scss');
@import url('../../../shared/styles/structure.scss');

:host {
    width: 100%;
    padding: 1em;
}

.release-container {
    margin-bottom: 1em;

    .release-heading {
        color: steelblue;
        display: inline-block;
        border-bottom: 1px solid steelblue;
    }
}

.form-field {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.ff-attr {
    max-width: 250px;
}