<div class="card">
    <div class="card-header pad">Request</div>
    <br/>
    <div class="pad col">
        <span>Submit a support ticket</span>
        <form class="col">
            <div class="field-group">
                <label class="ff-label">Summary</label>
                <input class="field" type="text" placeholder="summary..." />
            </div>
            <div class="field-group">
                <label class="ff-label">Priority</label>
                <select class="field">
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
            </div>
            <div class="field-group">
                <label class="ff-label">Description</label>
                <input class="field" type="text" placeholder="description..." />
            </div>
            <div>
                <button class="btn btn-cta">Submit</button>
            </div>
        </form>
    </div>
</div>